<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- <link href="/bin/main/static/css/common_css.css" rel="stylesheet"> -->
    </head>
    <body>
        <section class="vh-100" style="background-color: #eee;">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                  <div class="card rounded-3">
                    <div class="card-body p-4">
          
                      <h4 class="text-center my-3 pb-3">ToDo List Sample</h4>
          
                      <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2"
                            action="/add" method="post">
                        <div class="col-8">
                          <div class="form-outline">
                            <input type="text" id="taskExplain" name="taskExplain" class="form-control" placeholder="Enter a task here"/>
                          </div>
                        </div>
          
                        <div class="col-13">
                          <button type="submit" class="btn btn-primary">추가</button>
                        </div>
                      </form>
          
                      <table class="table mb-4">
                        <thead>
                          <tr>
                            <th scope="col">No.</th>
                            <th scope="col">할 일</th>
                            <th scope="col">상태</th>
                            <th scope="col">동작</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="task : ${taskList}">
                            <th th:text="${task.getNo()}" scope="row"></th>
                            <td th:text="${task.getExplain()}"></td>
                            <td th:text="${task.getState()}"></td>
                            <td>
                              <button type="submit" class="btn btn-danger">Delete</button>
                              <button type="submit" class="btn btn-success ms-1">Finished</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
          
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </body>
</html>